@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.paw-pattern {
  background-image:
    radial-gradient(#10b981 0.75px, transparent 0.75px),
    radial-gradient(#10b981 0.75px, #f8fdfb 0.75px);

  background-size: 30px 30px;
  background-position:
    0 0,
    15px 15px;

  opacity: 0.05;
}

.hero-gradient {
  background: radial-gradient(
    circle at top right,
    rgba(209, 250, 229, 0.45) 0%,
    rgba(240, 253, 244, 0.2) 60%,
    #ffffff 100%
  );
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
